extends layout

block content
	- if(!isSuccess)
		<!-- Modal -->
		#inputRoomPW.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			.modal-dialog
				.modal-content
					.modal-header
						h3 Oops!
						| 관리자 모드로 들어가기 위한 비밀번호를 입력해주세요.
					.modal-body
						form(action='/join/', method='POST')
							.form-group
								label(for="roompw") 방 비밀번호
								input.form-control(type='password', name='roompw', id='roompw', placeholder='관리 목적의 방 비밀번호를 입력해주세요')
								input(type="hidden", name="roomid", id="roomid" value="#{roomid}")
							input.btn.btn-lg.btn-danger(type='submit', value='확인')
		script.
			$(document).ready(function(){
				$('#inputRoomPW').insertAfter($("#main-footer"));
				$('#inputRoomPW').modal({
					show: true,
					backdrop: 'static'
				});
			});
	- else
	input#roomid(type="hidden", value="#{roomid}")
	input#groupname(type="hidden", value="#{groupname}")
	.container.game-container
		.row
			.col-xs-12.game-mapview
				.inner
					div
						img.spacer_full(src="/img/spacer_16_9.png")
					div.game-mapview-title(data-is-mobile="false")
						참가자의 모든 위치
					div(style="position:absolute; top:0;right:0;left:0;bottom:0;z-index:1;")
						div#map_canvas(style="width:100%; height:100%;")
					
		.row
			.col-xs-12.col-sm-6.game-activity
				.inner
					#activitys.activity-window
					form#notifySender.row.activity-form
						div.col-xs-9.form-group
							input(type='text' placeholder="공지사항을 전달하세요.")#message.form-control
						div.col-xs-3.form-group
							input(type='submit', value='보내기').btn.btn-success
			.col-xs-12.col-sm-3.game-teaminfo
				.inner
					p 블루팀
					ul#blueTeam
						each attendant in attendants
							- if(attendant.team == 0)
								li(id='attendant-'+attendant.name)= attendant.name
			.col-xs-12.col-sm-3.game-teaminfo
				.inner
					p 레드팀
					ul#redTeam
						each attendant in attendants
							- if(attendant.team == 1)
								li(id='attendant-'+attendant.name)= attendant.name
	- if(isSuccess)
		script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=AIzaSyB0OkEvPhBQziBq_I8ry-Hs_c2WtF4oRew&sensor=false')
		script(type='text/javascript').
			var latitude = 0;
			var longitude = 0;
			var mapOption = {};
			var map = {};
			
			window.onload = function() {
				navigator.geolocation.getCurrentPosition(function(position) {
					latitude = position.coords.latitude;
					longitude = position.coords.longitude;
					
					mapOptions = {
						center: new google.maps.LatLng(latitude, longitude),
						zoom: 13,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					};
					
					map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);
				});
			};
			function add_marker(playerName,latitude, longitude){
				var marker = new google.maps.Marker({
					position: new google.maps.LatLng(latitude, longitude),
					title: playerName,
					map : map,
					clickable: true,
					flat: true
				});
				marker.setMap(map);
			}
			
			setTimeout("add_marker(35.856496, 128.553281)", 3000);
			
			$('document').ready(function(){
				var room = io.connect('/');
				var activitys = $('#activitys');
				var messageBox = $('#message');
				var groupname = $('#groupname').val();
				var blueTeam = $('#blueTeam');
				var redTeam = $('#redTeam');
				var manager = "관리자"+Math.floor(Math.random() * 10) + 1;;
				
				function showMsg(msg){
					activitys.append($('<p>').text(msg));
					activitys.scrollTop(activitys.height());
				}
				
				$('#notifySender').submit(function(e){
					e.preventDefault();
					var msg = messageBox.val();
					
					if($.trim(msg) !== ''){
						showMsg( manager + ' : ' + msg);
						room.json.send({name: manager, msg:msg});
						messageBox.val('')	
					}
				});
				
				
				/*
					Socket Method define
				*/
				
				room.on('connect', function(){
					room.emit('join', {
							roomid : $('#roomid').val()
						,	uid: new Date().getTime()
						,	name: manager
						,	team: "2"
						,	item: "3"
					});
				});
				
				room.on('joined', function(data){
					showMsg(data.name + ' 님이 참가하였습니다.');
					if(data.team == 0){
						blueTeam.append($('<li>').attr('id', 'attendant-' + data.name).text(data.name));
					} else if(data.team == 1){
						redTeam.append($('<li>').attr('id', 'attendant-' + data.name).text(data.name));							
					} else {
						//do stuff your plan
					}
				});
				
				room.on('message', function(data){
					console.log(data);
					data = data
					showMsg( data.name + ' : ' + data.latitude + ' / ' + data.longitude);
					add_marker(data.name, data.latitude, data.longitude);
				});

				room.on("leaved", function(data){
					console.log(data.name);
					showMsg(data.name + "님이 나가셨습니다.");
					$("#attendant-" + data.name).remove();
				});
			});